<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detalles del producto</title>
        <link rel="stylesheet" href="/css/productDetail.css">
        <%- include('../partials/head')%>
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <section class="principal">
            <article class="product">
                <img class="product--image" src="/images/products/<%= product.image %>" alt="Producto">
                <div class="product--description">
                    <h1 class="product--description--name"><%= product.name %></h1>
                    <h2 class="product--description--price">$ <%= product.price %></h2>
                    <p class="product--description-text">
                        <%= product.description %>
                    </p>
                    <div class="product--description--quantity">
                        <input type="number" min="1">
                        <span>Cantidad</span>
                    </div>
                    <button class="product--description--button">
                        Agregar al carrito
                    </button>
                </div>
            </article>
        </section>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </main>

</body>
</html>