<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tecnoshop</title>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/product/search.css">
        <script src="/js/searchProducts.js"></script>
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main id="main">

            <div class="search-filters">
                Estamos en la página <%= search.page %> de <%= search.pages %>
            </div>

            <div class="search-result">
                <h3 class="title">Resultados:</h3>
                <div class="products-result">
                    <% products.forEach(product => { %>
                        <div class="product">
                            <a href="/products/<%= product.id %>">
                                <div class="image">
                                    <img src="/images/products/<%= product.image %>" width="50px">
                                </div>
                                <p class="name"><%= product.name %></p>
                                <p class="price">$<%= product.price %></p>
                            </a>
                        </div>
                    <% }); %>
                </div>
                <% if(!search.firstPage()){ %>
                    <a href="/products?search=<%= search.text %>&page=<%= search.page - 1 %>">Página anterior</a>
                <% } %>
                <% for(let i=1; i<=search.pages; i++){ %>
                    <a href="/products?search=<%= search.text %>&page=<%= i %>"><%= i %></a>
                <% } %>
                <% if(!search.lastPage()){ %>
                    <a href="/products?search=<%= search.text %>&page=<%= search.page + 1 %>">Página siguiente</a>
                <% } %>
            </div>

        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>
    </div>
</body>
</html>