<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editar Usuario</title>
        <%- include('../../partials/head') %>
        <link rel="stylesheet" href="/css/user/profile.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../../partials/header') %>
        
        <!-- MAIN -->
        <main id="main">
            <div class="user-profile">
                <div>
                    <h2 class="title">Editar Información del usuario</h2>
                </div>
            
                <!-- UPLOAD INFORMATION FORM -->
                <section class="user-information-section">

                    <form action="/manage/users/<%= user.id %>/?_method=PUT" class="edit-information-form" method="POST" enctype="multipart/form-data">
                        <img src="/images/users/<%= user.image %>" alt="Imagen perfil" class="profile-picture">
                        <div class="input-section">
                            <label for="userPicture">Subir imagen: </label>
                            <input type="file" name="picture" id="userPicture" accept="image/x-png,image/gif,image/jpeg">
                            <a href="/manage/users/<%= user.id %>/deletePicture"><input type="button" value="Borrar foto"></a>
                        </div>
                        <p class="alert picture"><%= (locals.errors && errors.picture) ? errors.picture.msg : '' %></p>

                        <div class="input-section">
                            <label for="first_name" class="label-form">Nombre:</label>
                            <input type="text" name="first_name" id="first_name" class="input-text" value="<%= locals.old && old.first_name ? old.first_name : user.first_name %>">
                        </div>
                        <p class="alert first_name"><%= (locals.errors && errors.first_name) ? errors.first_name.msg : '' %></p>

                        <div class="input-section">
                            <label for="last_name" class="label-form">Apellido:</label>
                            <input type="text" name="last_name" id="last_name" class="input-text" value="<%= locals.old && old.last_name ? old.last_name : user.last_name %>">
                        </div>
                        <p class="alert last_name"><%= (locals.errors && errors.last_name) ? errors.last_name.msg : '' %></p>

                        <div class="input-section">
                            <label for="email" class="label-form">Correo:</label>
                            <input type="email" name="email" id="email" class="input-text" value="<%= locals.old && old.email ? old.email : user.email %>">
                        </div>
                        <p class="alert email"><%= (locals.errors && errors.email) ? errors.email.msg : '' %></p>

                        <div class="input-section">
                            <label for="password" class="label-form">Contraseña:</label>
                            <input type="password" name="password" id="password" class="input-text">
                        </div>
                        <p class="alert passworderror"><%= (locals.errors && errors.password) ? errors.password.msg : '' %></p>
                        
                        <!-- Category  -->
                        <div class="category-div">
                            <label for="category">Categoría:</label>
                            <select id="category" name="category">
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>"
                                <% if(user.category.name == category.name){ %>
                                    selected="selected"
                                <% } %>
                                ><%= category.name %></option>
                            <% }) %>
                            </select>
                        </div>

                        <!-- Promotions  -->
                        <div class="checkbox promos-div">
                            <input id="promos" name="promos" type="checkbox" 
                            <% if(user.promotion){ %>
                                checked
                            <% } %>
                            >
                            <label for="promos">Recibir correos promocionales</label>
                        </div>


                        <div class="submit-button">
                            <input type="submit" value="Actualizar">
                        </div>
                    </form>
                </section>
            </div>
        </main>
    
        <!-- FOOTER -->
        <%- include('../../partials/footer') %>
    </div>
</body>
</html>