<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tecnoshop</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
        <script src=""></script>
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('./partials/header') %>

        <!-- MAIN -->
        <main id="main">
        <% productGroup.forEach(group => { %>
            <section class="product-group">
                <h2 class="title"><%= group.name %></h2>

                <div class="list-products">
                <% group.products.forEach(product => { %>
                    <div class="product">
                        <a href="/products/<%= product.id %>">
                            <div class="image">
                                <img src="/images/products/<%= product.image %>" width="50px">
                            </div>
                            <p class="name"><%= product.name %></p>
                            <p class="price">$<%= product.price %></p>
                        </a>
                        <form action="/cart/addproduct" method="post">
                            <input type="hidden" name="product_id" value="<%= product.id %>">
                            <input type="hidden" name="product_model_id" value="<%= (product.models && product.models.length) ? product.models[0].id : null %>">
                            <button>Agregar al carrito</button>
                        </form>
                    </div>
                <% }); %>
                </div>
            </section>
        <% }); %>
        </main>

        <!-- FOOTER -->
        <%- include('./partials/footer') %>
    </div>
</body>
</html>