<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/home.css">
        <%- include('./partials/head')%>
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <%- include('./partials/header')%>

        <!-- MAIN SECTION -->
        <section class="principal">
        <% for(let i=0; i<products.length; i++){ %>
            <a href="/productDetail/<%= products[i].id %>" class="producto">
                <img src="/images/products/<%= products[i].image %>" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p><%= products[i].name %></p>
                        <p class="precio">$<%= products[i].price %></p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
        <% } %>
        </section>

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
    </main>
</body>
</html>