<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tecnoshop</title>
        <%- include('./partials/head')%>
        <link rel="stylesheet" href="css/home.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('./partials/header')%>

        <!-- MAIN -->
        <main id="main">
        <% for(let i=0; i<number; i++){ %>
            <a href="/productDetail/<%= products[i].id %>" class="producto">
                <img src="/images/products/<%= products[i].image %>" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p><%= products[i].name %></p>
                        <p class="precio">$<%= products[i].price %></p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
        <% } %>
        </main>

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
    </div>
</body>
</html>