<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editar Producto</title>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/management.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <main>
            <div class="product-management-box">
                <h3>Editar Producto - <%= product.name%></h3>

                <form class="create-product-form" action="/products/edit/<%= product.id%>" method="POST" enctype="multipart/form-data">
                    <div class="input-section">
                        <input id="name" class="textbox" type="text" placeholder="Nombre del producto" name="productName">
                    </div>
                    <div class="input-section">
                        <textarea id="description" class="textbox" placeholder="Descripción del producto" name="productDescription"></textarea>
                    </div>
                    <div class="input-section">
                        <label for="productimage">Imagen del producto:</label>
                        <input type="file" name="productImage" id="productimage" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="input-section">
                        <!-- <input type=text list=categories placeholder="Categoría" class="textbox"> -->
                        <!-- <button type="button" id="button-add-category">Agregar Categoría</button> -->
                        <label for="productCategory">Categoria del producto:</label>
                        <Select id="categories" name='productCategory'>
                            <option value="Televisores">Televisores</option>
                            <option value="Celulares">Celulares</option>
                            <option value="Videojuegos">Videojuegos</option>
                        </Select>
                    </div>
                    <div class="input-section">
                        <input type="number" id="price" class="textbox" placeholder="Precio" name="productPrice">
                    </div>
                    
                    <button type="submit" id="button">Editar</button>
                </form>
            </div>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </div>
</body>
</html>