<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lista de productos</title>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productManagement/productList.css">
</head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main id="main">
            <!-- LIST PRODUCTS -->
            <% for(let i=0; i<products.length; i++){ %>
            <div class="product">
                <a href="/products/<%= products[i].id %>">
                    <img src="/images/products/<%= products[i].image %>" alt="Product image" class="product-image">
                </a>
                <a href="/products/<%= products[i].id %>" class="product-name"><%= products[i].name %></a>
                <div class="product-buttons">
                    
                    <a href="/products/edit/<%= products[i].id %>" class="product-edit">
                        Editar Producto
                    </a>
                    <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                        <button type="submit" class="product-delete">
                            Borrar Producto
                        </button>
                    </form>
                </div>
            </div>
            <% } %>

            <!-- BUTTON FOR NEW PRODUCTS -->
            <a href="/products/create" class="new-product">Crear un nuevo producto</a>
        </main>
        
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
    </div>
</body>
</html>