<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detalles del Producto <%= product.id %></title>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productManagement/detailProduct.css">
    </head>
    <body>
        <div class="container">
            <!-- HEADER -->
            <%- include('../partials/header') %>
            
            <!-- MAIN -->
            <main id="main">
                <div class="product-detail">
                    <!-- WELCOME MESSAGE -->
                    <div>
                        <h2 class="title">Detalles del producto <%= product.id %></h2>
                    </div>
                
                    <!-- INFORMATION FORM -->
                    <section class="product-information-section">
                        <form class="edit-information-form">
                            <img src="/images/products/<%= product.image %>" class="product-image">
                            <!-- ID -->
                            <div class="input-section">
                                <label for="id" class="label-form">ID:</label>
                                <input type="text" name="id" id="id" class="input-text" placeholder="<%= product.id %>" readonly>
                            </div>

                            <!-- Nombre -->
                            <div class="input-section">
                                <label for="name" class="label-form">Nombre:</label>
                                <input type="text" name="name" id="name" class="input-text" placeholder="<%= product.name %>" readonly>
                            </div>

                            <!-- Descripción -->
                            <div class="input-section">
                                <label for="description" class="label-form">Descripción:</label>
                                <textarea name="description" id="description" cols="30" rows="10" class="input-text" placeholder="<%= product.description %>" readonly></textarea>
                            </div>
                            
                            <!-- Categoría -->
                            <div class="input-section">
                                <label for="category" class="label-form">Categoría:</label>
                                <input type="text" name="category" id="category" class="input-text" placeholder="<%= product.category %>" readonly>
                            </div>

                            <!-- Precio -->
                            <div class="input-section">
                                <label for="price" class="label-form">Precio:</label>
                                <input type="text" name="price" id="price" class="input-text" placeholder="$ <%= product.price %>" readonly>
                            </div>

                            <div class="edit-button-div">
                                <a href="/productManagement" class="edit-button" style="margin-right: 20px;">Regresar</a>
                                <a href="/productManagement/edit/<%= product.id %>" class="edit-button">Editar</a>
                            </div>
                        </form>
                    </section>
                </div>
            </main>
        
            <!-- FOOTER -->
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>