<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editar Producto</title>
        <%- include('../../partials/head') %>
        <link rel="stylesheet" href="/css/manage/products/detailProduct.css">
        <script src="/js/addCategory.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- HEADER -->
            <%- include('../../partials/header') %>
            
            <!-- MAIN -->
            <main id="main">
                <div class="product-detail">
                    <!-- WELCOME MESSAGE -->
                    <div>
                        <h2 class="title">Editar información del producto</h2>
                    </div>
                
                    <!-- INFORMATION FORM -->
                    <section class="product-information-section">
                        <form action="/manage/products/edit/<%= product.id %>/?_method=PUT" class="edit-information-form" method="POST" enctype="multipart/form-data">
                            <!-- Imagen -->
                            <img src="/images/products/<%= product.image %>" class="product-image">
                            <div class="input-section">
                                <label for="image">Subir imagen: </label>
                                <input type="file" name="image" id="image" accept="image/x-png,image/gif,image/jpeg">
                            </div>
                            <% if(locals.errors && errors.image){ %>
                                <p class="alert"><%= errors.image.msg %></p>
                            <% } %>

                            <!-- ID -->
                            <div class="input-section">
                                <label for="id" class="label-form">ID:</label>
                                <input type="text" name="id" id="id" class="input-text" placeholder="<%= product.id %>" readonly>
                            </div>

                            <!-- Nombre -->
                            <div class="input-section">
                                <label for="name" class="label-form">Nombre:</label>
                                <input type="text" name="name" id="name" class="input-text" value="<%= locals.old && old.name ? old.name : product.name %>"">
                            </div>
                            <% if(locals.errors && errors.name){ %>
                                <p class="alert"><%= errors.name.msg %></p>
                            <% } %>

                            <!-- Descripción -->
                            <div class="input-section description">
                                <label for="description" class="label-form">Descripción:</label>
                                <textarea name="description" id="description" cols="30" rows="10" class="input-text"><%= locals.old && old.description ? old.description : product.description %></textarea>
                            </div>
                            <% if(locals.errors && errors.description){ %>
                                <p class="alert"><%= errors.description.msg %></p>
                            <% } %>

                            <!-- Categoría -->

                            <div class="input-section category">
                                <label for="category">Categoria del producto:</label>
                                <select id="category" name="category">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.name %>"
                                        <% if(product.category.name == category.name){ %>
                                            selected="selected"
                                        <% } %>
                                        ><%= category.name %></option>
                                    <% }) %>
                                        <option value="addcategory"
                                        <% if(locals.old && old.category == "addcategory"){ %>
                                            selected="selected"
                                        <% } %>
                                        >Crear nueva categoría</option>
                                    </select>
                            </div>

                            <!-- Nueva Categoría  -->
                            <div class="input-section addcategory">
                                <label for="newcategory" class="label-form">Categoría:</label>
                                <input id="newcategory" class="input-text" type="text" placeholder="Nombre de la categoría" name="newcategory" value="<%= locals.old && old.newcategory ? old.newcategory : ''%>">
                            </div>
                            <% if(locals.errors && errors.category){ %>
                                <p class="alert"><%= errors.category.msg %></p>
                            <% } %>

                            <!-- Precio -->
                            <div class="input-section">
                                <label for="price" class="label-form">Precio:</label>
                                <input type="number" name="price" id="price" class="input-text" value="<%= locals.old && old.email ? old.price : product.price %>" step=".01" min="0">
                            </div>
                            <% if(locals.errors && errors.price){ %>
                                <p class="alert"><%= errors.price.msg %></p>
                            <% } %>

                            <div class="submit-button">
                                <input type="submit" value="Actualizar">
                            </div>
                        </form>
                    </section>
                </div>
            </main>
        
            <!-- FOOTER -->
            <%- include('../../partials/footer') %>
        </div>
    </body>
</html>