<header>
    <!-- LOGO -->
    <div class="div-logo">
        <a href="/"><img src="/images/<%= locals.darkMode ? 'logodark' : 'logo' %>.png" alt="Logo Tecnoshop" class="logo"></a>
    </div>      
    <!-- SEARCHBAR -->
    <div class="searchbar">
        <form action="/products" method="GET">
            <input type="search" class="search" name="search" placeholder="Buscar artículos" size="1" value="<%= locals.search ? search.text : '' %>">
            <button><img src="/images/icons/<%= locals.darkMode ? 'searchwhite' : 'search' %>.png" class="search-img"></button>
        </form>
    </div>

    <!-- MENU -->
    <nav>
        <input type="checkbox" id="menu-button">
        <label for="menu-button" class="menu-button-label mobile"><img src="/images/icons/menu.png"></label>

        <ul>
        <% if(locals.isLogged){ %>
            <li><h3 class="bienvenida mobile">Bienvenido <%= locals.userLogged.first_name %></h3></li>
            <li><a href="/user/profile" class="mobile"><img src="/images/users/<%= locals.userLogged.image %>" class="profile-picture"></a></li>
            <li><a href="/user/profile" class="mobile"><p class="profile-button">Ver Perfil</p></a></li>
        <% } %>
            <div class="darkmode-div">
                <li class="darkmode-label mobiles"><label for="darkmode">Modo oscuro</label></li>
                <input id="darkmode" name="darkmode" type="checkbox" <%= (locals.darkMode) ? 'checked' : '' %>>
            </div>
            <li><a href="/"><p class="navbar-button mobile">Inicio</p></a></li>
            <li><a href="/cart"><p class="navbar-button mobile">Carrito de compras</p></a></li>
        <% if(locals.isLogged){ %>
            <li><a href="/user/profile"><p class="navbar-button computer">Perfil</p></a></li>
            <li><a href="/user/history"><p class="navbar-button mobile">Historial de compras</p></a></li>
            <li><a href="/manage"><p class="navbar-button mobile">Base de Datos</p></a></li>
            <li><a href="/user/logout"><p class="navbar-button">Cerrar Sesión</p></a></li>
        <% }else{ %>
            <li><a href="/user/login"><p class="navbar-button">Iniciar Sesión</p></a></li>
            <li><a href="/user/register"><p class="navbar-button">Registrarse</p></a></li>
        <% } %>
        </ul>
    </nav>
</header>