<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../css/login.css">
        <%- include('../partials/head')%>
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <section class="principal">
            <article class="login--article">
                <img src="/images/profile-picture.png" alt="Imagen perfil" class="login--image">

                <form class="login--form" action="/users/login" method="POST">
                    <!-- Email     -->
                    <p><input name="email" type="email" placeholder="Ingresa tu correo" class="loggin--form--input" value="<%= locals.old && old.email ? old.email : ''%>"></p>
                    <% if(locals.errors && errors.email){ %>
                        <p class="alert"><%= errors.email.msg %></p>
                    <% } %>

                    <!-- Password  -->
                    <p><input name="password" type="password" placeholder="Ingresa tu contraseña" class="loggin--form--input"></p>
                    <% if(locals.errors && errors.password){ %>
                        <p class="alert"><%= errors.password.msg %></p>
                    <% } %>

                    <button type="submit" class="login--form--button" >Ingresar</button>
                    <p class="remember">
                        <input id="remember" type="checkbox" name="remember">
                        <label for="remember">Recuérdame</label>
                    </p>
                    <p class="forget">
                        <a href="#" class="forget--link">
                            ¿Olvidaste tu constraseña?
                        </a>
                    </p>
                </form>

            </article>
        </section>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </main>
</body>
</html>